# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [4]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)

157.0

In [5]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

In [6]:
data.describe()

//anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,occupbroad,workinschool,...,educreq,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind
count,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,...,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000
mean,3.618480,3.661396,7.842916,0.052772,0.411499,0.097125,0.448049,215.637782,3.481520,0.559548,...,0.106776,0.437166,0.072690,0.082957,0.030390,0.085010,0.213963,0.267762,0.154825,0.165092
std,0.714997,1.219126,5.044612,0.223601,0.492156,0.296159,0.497345,148.127551,2.038036,0.496492,...,0.308866,0.496083,0.259649,0.275854,0.171677,0.278932,0.410141,0.442847,0.361773,0.371308
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,7.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,3.000000,5.000000,0.000000,0.000000,0.000000,0.000000,27.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,4.000000,6.000000,0.000000,0.000000,0.000000,0.000000,267.000000,4.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,4.000000,9.000000,0.000000,1.000000,0.000000,1.000000,313.000000,6.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,4.000000,7.000000,44.000000,1.000000,1.000000,1.000000,1.000000,903.000000,6.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
df = data[['race','call']]
df.head()

  race  call
0    w   0.0
1    w   0.0
2    b   0.0
3    b   0.0
4    w   0.0

### Question 1: What test is appropriate for this problem? Does CLT apply?

Use test of proportion for this problem.
<br>CLT conditions:
<br>Independence -> sample observations are independent (for this problem, they are independent)
<br>Sample Size -> There should be at least 10 successes (np>10) and 10 failures (n(1-p)>10)
<br>All CLT conditions are satisfied (sample size condition proven below), so CLT applies.

In [8]:
df_b = df[df.race=='b']
df_w = df[df.race=='w']

n_b = len(df_b)
n_w = len(df_w)

calls_b = sum(df_b.call)
calls_w = sum(df_w.call)

In [10]:
#calculate pooled probability
p_pooled = (calls_b+calls_w)/(n_b+n_w)
p_pooled

0.080492813141683772

In [11]:
#calculate np and n(1-p)
print('np (white):',n_w*p_pooled)
print('n(1-p) (white):',n_w*(1-p_pooled))
print('np (black):',n_b*p_pooled)
print('n(1-p) (black):',n_b*(1-p_pooled))

np (white): 196.0
n(1-p) (white): 2239.0
np (black): 196.0
n(1-p) (black): 2239.0

All values > 10 so satisfy CLT requirement.

### Question 2: What are the null and alternate hypotheses?

Null Hypothesis: proportion of call back for white = proportion of call back for black 
<br>Alternative Hypothesis: proportion of call back for white != proportion of call back for black

### Question 3: Compute margin of error, confidence interval, and p-value.

In [24]:
SE = (((p_pooled*(1-p_pooled))/n_b)+((p_pooled*(1-p_pooled))/n_w))**0.5
p_w = calls_w/n_w
p_b = calls_b/n_b
Zstat= (p_w - p_b)/SE
ME = 1.96*SE
CI = (p_w-p_b-ME,p_w-p_b+ME)

#pvalue compute
from scipy import stats
pvalue = stats.norm.sf(abs(Zstat))*2

print('Standard Error:',SE)
print('Margin of Error:',ME)
print('Confidence Interval:',CI)
print('Z-statistic:',Zstat)
print('p-value:',pvalue)

Standard Error: 0.00779689403617
Margin of Error: 0.0152819123109
Confidence Interval: (0.016750941898551489, 0.047314766520339682)
Z-statistic: 4.10841215243
p-value: 3.98388683759e-05

### Question 4: Write a story describing the statistical significance in the context or the original problem.

Since the p-value is very small and less than the significance level of alpha=0.05, we reject the null hypothesis that proportion white call = proportion black call in favor of the alternative hypothesis. This indicates that race does have an impact on the rate of callbacks for resumes.

### Question 5: Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

No, this analysis only means that race has an impact on the rate of callbacks for resumes. To look at what is the most important factor in callback success, a more in depth analysis needs to be perform (features importance, correlation, etc.) to compare different features and how they impacts callbacks for resumes.